.bg-orange {
  background-color: #ff8c00;
  color: #fff;
}

.dropdown button {
   border: 1px solid white;
   color: white;
   background-color: transparent;
}

.dropdown button:hover {
   background-color: darkorange;
   border-color: lightgray;
   color: lightgray;
}